
[submodule "src/vendor/github.com/urfave/cli"]
	path = src/vendor/github.com/urfave/cli
	url = https://github.com/urfave/cli.git
[submodule "src/vendor/github.com/sirupsen/logrus"]
	path = src/vendor/github.com/sirupsen/logrus
	url = https://github.com/sirupsen/logrus.git
